<!-- Auto refresh this page every 10 seconds (only in production) -->
<% if Rails.env.production? %>
  <meta http-equiv="refresh" content="10" />
<% end %>

<h3>Drinks</h3>

<div class="row">
  
    <% @orders.each do |order| %>
    <div class="col-md-4">
      <% if order.drinks_orders.first.try(:status) == 0 %>
      
      <!-- panel -->
      <div class="panel panel-default">
        <div class="panel-heading clearfix">
          <h3 class="panel-title pull-left" style="padding-top: 7.5px;">Table <%= order.table_number %></h3>
          <div class="btn-group pull-right">
            <% if can? :update_drinks_status, Order %>
              <%= link_to 'Done', update_drinks_status_path(:id => order.id), class: "btn btn-danger pull-right" %>
            <% end %>
          </div>
        </div><!-- panel-heading -->
        <div class="panel-body">
          <ul>
          <% order.drinks_orders.each do |c| %>
              <li>
                <%= c.quantity %>x <%= c.drink.name %>
                <% if c.takeaway == true %>
                  <i class="fa fa-truck"></i> <!-- indicate this menu is takeaway -->
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </div><!-- /panel -->
      <% else %>

      <% end %>
    </div><!-- col-md-4 -->
    <% end %>
</div>