<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- <a class="navbar-brand page-scroll" href="#page-top"><font size="6"><strong>PayEat</strong></font></a> -->
            <a class="navbar-brand page-scroll" href="#page-top">PayEat</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="#about">About</a>
                </li>
                <li>
                    <a class="page-scroll" href="#features">Features</a>
                </li>
                <li>
                    <a class="page-scroll" href="#team">Team</a>
                </li>
                <li>
                    <a class="page-scroll" href="#charity">Charity</a>
                </li>
                <li>
                    <a class="page-scroll" href="#subscribe">Subscribe</a>
                </li>
                <li>
                    <%= link_to 'App', orders_path, class: "page-scroll" %>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<!-- Header -->
<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-heading">managing your restaurant<h3>has never been easier</h3></div>
            <a href="#about" class="page-scroll btn btn-xl">Tell Me More</a>
        </div>
    </div>
</header>

<!-- About Section -->
<section id="about" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">What is Pay Eat</h2>
                <h3 class="section-subheading text-muted">Faster delivery . Less mistakes . Increased productivity</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-dashboard fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Speed</h4>
                <p class="text-muted">By taking orders off paper and onto the web, your next order is just a click away. Take down those long-winded orders in a jiffy.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-edit fa-stack-1x fa-inverse"></i>
                    <!--<i class="fa fa-align-left fa-exclamation fa-stack-1x fa-inverse"></i>-->
                </span>
                <h4 class="service-heading">Efficiency</h4>
                <p class="text-muted">With realtime inventory updates, there's less backtracking on orders that aren't stocked. Faster delivery, with less dissapointments.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-qrcode fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Convenience</h4>
                <p class="text-muted">Through our integrated QR code, when the bill comes, payments are made through scanning the code and selecting your prefered method </p>
            </div>
        </div>
    </div>
</section>

<!-- Features Section -->
<section id="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">How does it work?</h2>
                <h3 class="section-subheading text-muted"><br></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <!-- <img src="assets/1.jpg" class="img-responsive img-circle" alt=""> -->
                            </br>
                            <i class=" img-responsive fa fa-qrcode fa-5x fa-inverse" style="font-size: 12rem"></i>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">The Order</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">The patron converses their order to the attendant and it's matched with the selections on the app.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img src="assets/2.jpg" class="img-responsive img-circle" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">The Magic</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">When you're satisfied with the order, it's submitted and Ordr splits it magically between the respective kitchen and bar terminals.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline">
                        <div class="timeline-image">
                            <img src="assets/3.jpg" class="img-responsive img-circle" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">Bon Appetit</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">And your order makes its way off the screen and onto your plate in no time.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img src="assets/4.jpg" class="img-responsive img-circle" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">Cash or Credit ?</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Either make your payment via ye old cash or whip out phone and scan the QR code for your bill</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- Portfolio Grid Section -->
<section id="portfolio" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Have a look</h2>
                <h3 class="section-subheading text-muted">It's easy as pie.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="assets/NewOrder_Preview.jpg" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>The App</h4>
                    <p class="text-muted">That takes it.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="assets/MFoodDrinks_Preview.jpg" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>The System</h4>
                    <p class="text-muted">That manages it.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="assets/Orders_Preview.jpg" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>The Terminal</h4>
                    <p class="text-muted">That cooks it.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Charity Section -->
<section id="charity" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Pay It Forward</h2>
                <h3 class="section-subheading text-muted">What goes around comes around.</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-dashboard fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Speed</h4>
                <p class="text-muted">By taking orders off paper and onto the web, your next order is just a click away. Take down those long-winded orders in a jiffy.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-edit fa-stack-1x fa-inverse"></i>
                    <!--<i class="fa fa-align-left fa-exclamation fa-stack-1x fa-inverse"></i>-->
                </span>
                <h4 class="service-heading">Efficiency</h4>
                <p class="text-muted">With realtime inventory updates, there's less backtracking on orders that aren't stocked. Faster delivery, with less dissapointments.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-qrcode fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Convenience</h4>
                <p class="text-muted">Through our integrated QR code, when the bill comes, payments are made through scanning the code and selecting your prefered method </p>
            </div>
        </div>
    </div>
</section>

<!-- Team Section -->
<section id="team">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Built by Staches</h2>
                <h3 class="section-subheading text-muted">Coz, we SWAG.</h3>
            </div>
        </div>
        <div class="row" width: 100% height: 100%>
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="assets/P_nathan.jpg" class="img-responsive img-circle img2" alt="">
                    <h4>Nathan Welling</h4>
                    <p class="text-muted">Mobile &amp; Web Developer</p>
                    <a href="https://www.facebook.com/natewelling"><i class="fa fa-facebook fa-lg fa2"></i></a>
                    <a href="https://github.com/naterex"><i class="fa fa-github fa-lg fa2"></i></a>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="assets/P_josiah.jpg" class="img-responsive img-circle img2" alt="">
                    <h4>Josiah Peter James</h4>
                    <p class="text-muted">Web Developer</p>
                    <a href="https://www.facebook.com/josiah.p.james"><i class="fa fa-facebook fa-lg fa2"></i></a>
                    <a href="#"><i class="fa fa-github fa-lg fa2"></i></a>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="assets/P_hart.jpg" class="img-responsive img-circle img2" alt="">
                    <h4>Hart Walia</h4>
                    <p class="text-muted">Web Developer</p>
                    <a href="https://www.facebook.com/hart.walia"><i class="fa fa-facebook fa-lg fa2"></i></a>
                    <a href="https://github.com/trishen"><i class="fa fa-github fa-lg fa2"></i></a>
                </div>
            </div>
            <div class="col-sm-4 col-sm-offset-2">
                <div class="team-member">
                    <img src="assets/P_adrian.jpg" class="img-responsive img-circle img2" alt="">
                    <h4>Adrian Yeow</h4>
                    <p class="text-muted">Web Developer</p>
                    <a href="https://www.facebook.com/adrian.yeow.90"><i class="fa fa-facebook fa-lg fa2"></i></a>
                    <a href="https://github.com/adrianyeow3"><i class="fa fa-github fa-lg fa2"></i></a>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="assets/P_alan.jpg" class="img-responsive img-circle img2" alt="">
                    <h4>Alan Yap</h4>
                    <p class="text-muted">Web Developer</p>
                    <a href="https://www.facebook.com/shuen.yap.7"><i class="fa fa-facebook fa-lg fa2"></i></a>
                    <a href="https://github.com/alanyapks"><i class="fa fa-github fa-lg fa2"></i></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p class="large text-muted"></p>
            </div>
        </div>
    </div>
</section>

<!-- Subscribe Section -->
<section id="subscribe">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Subscribe</h2>
        <h3 class="section-subheading text-muted">Follow us.</h3>
      </div>
      
      <div class="row">
        <div class="col-lg-12">
          <form action="//zulhfreelancer.us2.list-manage.com/subscribe/post?u=f2dc62fb42e4b79bc8dc4b699&amp;id=e70b55d5fc" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidat>
            <div class="row">
              <div class="col-md-6 col-md-offset-3">
                
                <div class="form-group">
                  <input type="text" value="" name="FNAME" placeholder="Your Name *" class="form-control" id="mce-FNAME">
                </div>

                <div class="form-group">
                  <input type="email" value="" name="EMAIL" placeholder="Your Email *" class="form-control required email" id="mce-EMAIL">
                </div>

                <div id="mce-responses" class="clear">
                  <div class="response" id="mce-error-response" style="display:none"></div>
                  <div class="response" id="mce-success-response" style="display:none"></div>
                </div> <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                  
                <div class="col-lg-12 text-center">
                  <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-xl"></div>
                </div>

              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <span class="copyright">Copyright &copy; PayEat.my</span>
            </div>
            <div class="col-md-4">
                <!--<ul class="list-inline social-buttons">-->
                <!--    <li><a href="#"><i class="fa fa-twitter"></i></a>-->
                <!--    </li>-->
                <!--    <li><a href="#"><i class="fa fa-facebook"></i></a>-->
                <!--    </li>-->
                <!--    <li><a href="#"><i class="fa fa-linkedin"></i></a>-->
                <!--    </li>-->
                <!--</ul>-->
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <!--<li><a href="http://blog.ordr.my" target="_blank">Blog</a>-->
                    <!--</li>-->
                    <!--<li><a href="#">Privacy Policy</a>-->
                    <!--</li>-->
                    <!--<li><a href="#">Terms of Use</a>-->
                    <!--</li>-->
                </ul>
            </div>
        </div>
    </div>
</footer>

<!-- Portfolio Modals -->
<!-- Use the modals below to showcase details about your portfolio projects! -->

<!-- Portfolio Modal 1 -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2>Mobile view</h2>
                        <p class="item-intro text-muted">Waiter see . Waiter do</p>
                        <img class="img-responsive img-centered" src="assets/NewOrder.jpg" alt="">
                        <div class="row text-center">
                            <div class="col-md-4">
                                <p class="text-muted">Orders are easily made as they are broken down by table number, food, and drinks.</p>
                            </div>
                            <div class="col-md-4">
                                <p class="text-muted">A change of mind ? Not a problem, easily edit any existing order or if they took a 180, just delete it!</p>
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Portfolio Modal 2 -->
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>The Iventory</h2>
                        <p class="item-intro text-muted">Where the ingredients lay asleep.</p>
                        <img class="img-responsive img-centered" src="assets/MFoodDrinks.jpg" alt="">
                           <div class="row text-center">
                            <div class="col-md-4-offset-2">
                                <p class="text-muted">Monitor and manipulate your inventory of items on the fly. Decided to dump a meal ?
                                                    Delete it. Rebrand it ? Edit it. It's all in your hands</p>
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Portfolio Modal 3 -->
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2>The Terminal</h2>
                        <p class="item-intro text-muted">First come, first serve.</p>
                        <img class="img-responsive img-centered" src="assets/Orders.jpg" alt="">
                            <div class="row text-center">
                                <div class="col-md-4-offset-2">
                                    <p class="text-muted">The gateway of the kitchen staff, orders divide by food and drinks have their respective tabs,
                                                          and arrive in a chronological fashion. First one in goes straight goes to the top.</p>
                                </div>
                            </div>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
