<div class="row">
	<div class="col-md-4 col-md-offset-4">

		<svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"><circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/><path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/></svg>

		<h4 class="tcenter">Order submitted!</h4>

		<div class="tcenter">
			<%= link_to edit_order_path(@order), class: "btn btn-primary" do %>
				Edit Order <i class="fa fa-pencil-square-o"></i>
			<% end %>
			&nbsp;
			<%= link_to new_order_url, class: "btn btn-success" do %>
				New Order <i class="fa fa-plus"></i>
			<% end %>
		</div>
	</div>
</div>