<script type="text/javascript">
	// loads animation when page is ready
	$(document).ready(function() {
	    $(".checkmark").show();
	});
</script>

<div class="row">
	<div class="col-md-6 col-md-offset-3">

		<svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52" style="display:none;">
		    <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="#7ac142" />
		    <path class="checkmark__check" id="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
		    <animate xlink:href="#checkmark__check" attributeName="stroke-dashoffset" from="48" to="0" dur=".8s" fill="freeze">
		</svg>

		<h4 class="tcenter">Order submitted!</h4>

		<div class="tcenter">
			<%= link_to edit_order_path(@order), class: "btn btn-primary" do %>
				Edit Order <i class="fa fa-pencil-square-o"></i>
			<% end %>
			&nbsp;
			<%= link_to root_url, class: "btn btn-primary" do %>
				View Orders <i class="fa fa-list-ul"></i>
			<% end %>
		</div>
		<div class="tcenter new-order-btn">
			<%= link_to new_order_url, class: "btn btn-success" do %>
				New Order <i class="fa fa-plus"></i>
			<% end %>
		</div>
	</div>
</div>