<h3>Payment for order #</h3>

<div class="col-sm-10 col-md-8 col-lg-6">

  <%= form_for([@order, @payment]) do |form| %>

    <h4>Amount due: <span class="label label-danger">$<%= @order.grand_total %></span></h4>

    <p>Please enter your payment details:</p>
    <div id="dropin"></div>

    <%= form.submit "Pay $#{@order.grand_total}", class: "btn btn-success btn-lg" %>
  <%end%>

</div>

<% content_for :javascript do %>

  <script type="text/javascript" src="https://js.braintreegateway.com/v2/braintree.js"></script>

<% end %>
