.img2{
	width:264px;
	height:264px;
}

i.fa2{
	color:#000;
}

section#subscribe {
    background-color: #222;
    background-image: url(../assets/map-image.png);
    background-position: center;
    background-repeat: no-repeat;
}

section#charity {
    text-align: center;
    color: #fff;
    background-attachment: scroll;
    background-image: url(../assets/forward.jpg);
    background-position: center 60%;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

section#subscribe .section-heading {
    color: #fff;
}

section#subscribe .form-group {
    margin-bottom: 25px;
}

section#subscribe .form-group input,
section#subscribe .form-group textarea {
    padding: 20px;
}

section#subscribe .form-group input.form-control {
    height: auto;
}

section#subscribe .form-group textarea.form-control {
    height: 236px;
}

section#subscribe .form-control:focus {
    border-color: #fed136;
    box-shadow: none;
}

section#subscribe::-webkit-input-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

section#subscribe:-moz-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

section#subscribe::-moz-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

section#subscribe:-ms-input-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

section#subscribe .text-danger {
    color: #e74c3c;
}

.charity-text {
    font-size: 16px;
    line-height: 1.75;
}