// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* order_success page checkmark animation */
.checkmark {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #fff;
    stroke-miterlimit: 10;
    margin: 20px auto;
}

.checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
}

/* order_success page */
.new-order-btn {
  margin-top: 10px;
}